@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Roboto', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
	-moz-box-sizing: border-box; /*Firefox 1-3*/
	-webkit-box-sizing: border-box; /* Safari */
text-decoration: none;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
	color: black;
}



body {
 background: radial-gradient(circle at bottom left, #f4d894, #ff6666);
 font-weight: 300;
}
.fbox{
	background: radial-gradient(circle at bottom left, #f4d894, #ff6666);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	height: 100%;
	align-items: center;	 
    position: fixed;
}

.q{
	display: flex;
	

}
.q div{
	
	background: #eee;
	padding: 3vw;
	margin: 1vw 2vw ;
	
	font-size: 2vw;
	font-family: roboto;
	color: #333333;
	


	
}
.nameq{
	min-width: 17vw;
	text-align: center;
}
.q div{
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  }
.q div:hover:not(.nameq){

	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.qbEXP1{
	font-weight: 100;
	background: red;
}

.qbEXP2{
	font-weight: 300;
}

.qbEXP3{
	font-weight: 400;
}

.qbEXP4{
	font-weight: 500;
}

.qbEXP5{
	font-weight: 700;
}

.question{
	background: #eee;
	padding: 3vw;
	margin: 3vw ;
	font-size: 3vw;
	font-family: roboto;
	color: #333;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.2s ease-in-out;
  	text-align: center;
	background: #eee;
  

	}


.ans{
	background: #eee;
	padding: 3vw;
	font-size: 3vw;
	font-family: roboto;
	color: #333333;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.2s ease-in-out;
	text-align: center;
	margin:  19vw 19vw; ;


}
.ans:hover{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.b-popup{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.b-popup .b-popup-content{
    margin:5% ;
	height: 50vw;
	width: 90vw;
    background-color: #eee;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.headerAns{
	height: 75%;
}

.footerAns{
	height: 25%;



}
.ansinq{
	background: #eee;
	padding: 5vw;
	font-size: 4vw;
	font-family: roboto;
	color: #333333;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  	transition: all 0.2s ease-in-out;
	text-align: center;
	float: left;
	height: 100%;
	width: 50%;
	margin: 1vw;
}

.ansinq2{
	float: right;
	background: #FF7043;
	
}
.ansinq1{
	float: left;
	background: #9CCC65;
	
}
<iframe class="fram" src="1q20ex.html">
</iframe>